[submodule "themes/zozo"]
	path = themes/zozo
	url = https://github.com/cage1016/hugo-theme-zozo.git
	branch = style/post
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/cage1016/LoveIt.git
	branch = style/post
